# Product Demand Forecast

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib as plt

## Explore data

### Read input data

In [17]:
demand_df = pd.read_csv('Historical Product Demand.csv')
print('Original: ' + str(demand_df.shape))
demand_df.dropna(inplace=True)
print('After   : ' + str(demand_df.shape))
demand_df.head(4)

Original: (1048575, 5)
After   : (1037336, 5)

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500

In [29]:
print('Date range: ({}, {})'.format(demand_df.Date.min(), demand_df.Date.max()))
demand_df.describe()

Date range: (2011/1/8, 2017/1/9)

        Product_Code Warehouse Product_Category       Date Order_Demand
count        1037336   1037336          1037336    1037336      1037336
unique          2160         4               33       1729         3749
top     Product_1359    Whse_J     Category_019  2013/9/27        1000
freq           16936    764447           470266       2075       112263